html {
  width: 100%;
  height: 100%;
}

body {
  /* margin: 0 20px; */
  background-color: #f3eee8;
  color: #53504d;
  font: 14px/22px Arial, sans-serif;
  overflow: hidden; /* Hide scrollbars */
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.react-dat-gui-demo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
}

.react-dat-gui-relative-position {
  position: absolute;
  /* margin-top: 5em; */
  width: 300px;
  min-width: 300px;
  right: 0;
}

@media (max-width: 700px) {
  .react-dat-gui-demo {
    flex-direction: column !important;
  }
}

.gapRight {
  margin-left: 10px;
}

.slider {
  background-image: linear-gradient(90deg,#ebb15a,#ebb15a) !important;
}

.react-dat-gui .cr.number {
  border-left: 5px solid #ebb15a !important;
}

.react-dat-gui .cr.string {
  border-left: 5px solid #D0131D !important;
}

.react-dat-gui .cr.string input[type=text] {
  color: #D0131D !important;
  padding: 2px 5px;
}

.button {
  background-color: #575655;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.active {
  background-color: aquamarine;
}

.bg {
  background: linear-gradient(0.25turn, #3f87a6, #f69d3c) !important;
}

.navbar-light .navbar-brand {
  color: white !important;
  font-style: oblique;
}